name: Docker Image CI

on:
  push:
    branches: [ "*" ]
    tags: [ "*" ]  # This triggers on version tags like v1.0.0
  pull_request:
    branches: [ "*" ]

jobs:
  backend:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # - name: Log in to DockerHub
      #   env:
      #     DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
      #     DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
      #   run: |
      #     docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_PASSWORD

      - name: Build Docker image for backend
        run: |
          docker build -t mde:frontend . -f Dockerfile.prod
      